*{
  box-sizing:border-box;
}

h1{
  color:#F8FAFC;
  text-align:center;
  margin:20px 0;
}

body{
  margin:0;
  padding:0;
  background-color: #0F172A;
}

nav{
  color:#F8FAFC;
  background-color:#38BDF8;
}

nav ul{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:25px;
  padding:15px;
  margin:0;
  list-style:none;
}

#parent-kalkulator{
  display:flex;
  justify-content:center;
}

#form-hpp{
  width:80%;
  max-width:500px;
  border:2px solid rgb(255,150,9);
  border-radius:7px;
  margin:20px auto;
  padding:10px;
  color:#F8FAFC;
  background-color:#1E293B;
  box-shadow:0 4px 12px gray;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  #form-hpp,
  .hasil-hpp {
    width: 92%;
  }

  nav ul {
    gap: 15px;
    padding: 12px 5px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}

input,select{
  width:100%;
  padding:10px;
  border:1px solid gray;
  border-radius:5px;
  margin-bottom:15px;
  color:black;
}

button{
    background-color: darkblue;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    transition:0.5s;
}

button:hover{
    background-color: rgba(0,0,255,.15);
    transform:scale(1.09);
}

.hasil-hpp{
  display: inline-block;
  color: #F8FAFC;
  padding: 15px;
  margin: 5px;
}
